/** global styles used by all dev.to web components */

:host {
  --font-family: var(--ff-sans-serif);
  
  --font-size-host: 16px;
  --font-size-light: 0.875em;
  --font-size-normal: 1em;
  --font-size-bold: 1.25em;
  --font-size-title: 1.5em;

  --font-weight-light: var(--base-text-weight-light);
  --font-weight-normal: var(--fw-normal);
  --font-weight-bold: var(--fw-bold);

  --bg-color-light: var(--color-canvas-subtle);
  --bg-color-normal: var(--color-canvas-default);

  --border-color: var(--color-border-default);
  --border-width: var(--borderWidth-thin);
  --border-radius: var(--borderRadius-medium);

  --color-light: var(--color-mild);
  --color-normal: var(--color-base);
  --color-shadow: var(--card-shadow-color);
  /* --color-bold: var(--color-bold); */

  --color-link: var(--color-fg-accent);
  --color-danger: var(--color-fg-danger);

  --logo-size: 1.6em;
  --logo-outline-offset: 2px;
  --svg-gap: 0.2em;
  --svg-size: 1em;
  --row-spacing: 0.3em;
  
  /* start of styles */
  line-height: 1.5;
  color: var(--color-normal);
  font-family: var(--font-family);
  font-size: var(--font-size-host);
  font-weight: var(--font-weight-normal);
  /* set up container queries */
  container-type: inline-size;
  display: inline-block;
  width: 100%;
}

@container (min-width: 300px) {
  section[itemscope],
  div[itemscope] {
    --logo-size: 2em;
    --row-spacing: 0.5em;
  }
}

/** root elements cleanup */
* {
  padding: 0;
  margin: 0;
  margin-inline: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

section[itemscope],
span[itemscope] {
  background-color: var(--bg-color-normal);

  [itemprop="error"] {
    color: var(--color-danger);
  }
}
