/** global styles used by all dev.to web components */

:host {
  --font-family: var(--ff-sans-serif);
  
  --font-size-host: 16px;
  --font-size-light: 0.875em;
  --font-size-normal: 1em;
  --font-size-bold: 1.25em;
  --font-size-title: 1.5em;

  --font-weight-normal: var(--fw-normal);
  --font-weight-bold: var(--fw-bold);

  --bg-color-normal: var(--card-bg);

  --border-color: var(--card-border);
  --border-width: 1px;
  --border-radius: var(--radius);

  --color-light: var(--base-60);
  --color-normal: var(--body-color);
  --color-shadow: var(--card-border);
  --color-profile: var(--profile-brand-color);
  --color-bold: var(--body-color);

  --color-link: var(--link-color);
  --color-link-hover: var(--link-color-hover);
  --color-danger: var(--color-fg-danger);

  --btn-bg: var(--cta-branded-bg);
  --btn-border: var(--cta-branded-border);
  --btn-color: var(--cta-branded-color);
  --btn-bg-hover: var(--cta-branded-bg-hover);
  --btn-border-hover: var(--cta-branded-border-hover);
  --btn-color-hover: var(--cta-branded-color-hover);

  --heading-height: 2em;
  --logo-size: 1.6em;
  --logo-outline-offset: 2px;
  --svg-gap: 0.2em;
  --svg-size: 1.2em;
  --row-spacing: 0.3em;
  --side-spacing: 0.5em;
  
  /* start of styles */
  line-height: 1.5;
  color: var(--color-normal);
  font-family: var(--font-family);
  font-size: var(--font-size-host);
  font-weight: var(--font-weight-normal);
  /* set up container queries */
  container-type: inline-size;
  display: inline-block;
  width: 100%;
}

/** root elements cleanup */
* {
  padding: 0;
  margin: 0;
  margin-inline: 0;
}
a {
  text-decoration: none;
  color: var(--color-link);
  &:hover, &:focus {
    color: var(--color-link-hover);
  }
}
address {
  font-style: normal;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

section[itemscope],
span[itemscope] {
  background-color: var(--bg-color-normal);

  [itemprop="error"] {
    color: var(--color-danger);
  }
}

@container (min-width: 300px) {
  section[itemscope] {
    --logo-size: 1.8em;
    --row-spacing: 0.5em;
    --side-spacing: 0.75em;
  }
}

@container (min-width: 400px) {
  section[itemscope] {
    --logo-size: 2em;
    --side-spacing: 1em;
  }
}
