/** styles for the GitHub repository web component */

:host {
  container-name: repository;
}

div[itemscope] {
  padding: var(--row-spacing);
}

@container repository (min-width: 300px) {
  div[itemscope] {
    padding: calc(var(--row-spacing) * 2);
  }
}

[itemprop="codeRepository"] {
  display: block;

  > svg {
    fill: var(--color-light);
    vertical-align: text-bottom;
  }
  [itemprop="maintainer"], [itemprop="name"] {
    color: var(--color-link);
    font-weight: var(--font-weight-bold);
  }
}

[itemprop="about"] {
  margin-top: var(--row-spacing);
  color: var(--color-light);
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--svg-gap);
  color: var(--color-light);
  margin-top: var(--row-spacing);

  > dt {
    flex: 0 0 var(--svg-size);
    > svg {
      vertical-align: text-bottom;
    }
  }
  > dd {
    /* margin-right: 1em; */
    flex: 0 0 calc(100% - calc(var(--svg-size) + var(--svg-gap)));

    &:last-of-type {
      margin-right: 0;
    }
  }

  @container repository (min-width: 300px) {
    > dd:not([itemprop="programmingLanguage"]) {
      flex: 1 0 auto;
    }
  }

  @container repository (min-width: 400px) {
    > dd {
      flex: 1 0 auto;
    }
  }
}