/** styles for the GitHub user web component */

:host {
  container-name: user;
}
section[itemscope] {
  padding: auto;

  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  overflow: hidden;
}
:host header {
  background-color: var(--bg-color-light);
  padding: var(--row-spacing);

  display: flex;
  gap: var(--svg-gap);
  height: calc(var(--logo-size) + var(--logo-outline-offset) * 2);

  > span:has([itemprop="memberOf"]) {
    background-color: var(--color-normal);
    width: var(--logo-size);
    height: var(--logo-size);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-image: var(--svg-mark-github);
    mask-image: var(--svg-mark-github);
  }

  :has(svg) {
    flex: 0 0 var(--logo-size);
    display: inline-block;
    width: var(--logo-size);
    height: var(--logo-size);
    outline-offset: var(--logo-outline-offset);

    > svg {
      color: var(--color-normal);
      width: var(--logo-size);
      height: var(--logo-size);
      vertical-align: middle;
      fill: currentColor;
    }
  }

  [itemprop="alternativeName"] {
    flex: 1 0 auto;
    color: var(--color-normal);
    font-weight: var(--font-weight-bold);
    padding-inline: var(--row-spacing);
  }
}
[part="main"] {
  padding: var(--row-spacing);

  [itemprop="url"] {
    display: block;
    text-align: center;
    align-items: center;
    padding: calc(var(--row-spacing) * 2) 0;

    [itemprop="image"] {
      display: block;
      width: 100%;

      & img {
        border: var(--border-width) solid var(--border-color);
        border-radius: 50%;
        line-height: 1;
        width: 70%;
        height: auto;
        margin: 0 auto;
      }
    }

    [itemprop="creator"] {
      color: var(--color-normal);

      & span {
        display: block;
        font-size: var(--font-size-title);
        line-height: 1.25;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: var(--font-weight-bold);
      }

      [itemprop="alternativeName"] {
        color: var(--color-light);
        font-size: var(--font-size-bold);
        font-style: normal;
        font-weight: var(--font-weight-light);
        line-height: 1.25;
      }
    }
  }
  
  @container user (min-width: 400px) {
    [itemprop="url"] {
      display: flex;
      gap: 1em;

      [itemprop="image"] {
        flex: 1 1 30%;
      }
      [itemprop="creator"] {
        flex: 1 0 70%;
        text-align: left;
      }
    }
  }

  [itemprop="description"] {
    margin: calc(var(--row-spacing) * 2) 0;
  }

  & dl:has([itemprop="follows"]),
  & dl:has([itemprop="followee"]) {

    &::before,
    [itemprop="follows"]::before {
      content: " ";
      display: inline-block;
      vertical-align: text-top;
      height: var(--svg-size);
      width: var(--svg-size);
      background-color: var(--color-light);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-image: var(--svg-people);
      mask-image: var(--svg-people);
    }

    > span {
      display: inline-flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      gap: var(--svg-gap);

      > dt {
        flex: 1 0 auto;
        color: var(--color-light);
      }

      > dd {
        flex: 0 0 auto;
      }
    }
    [itemprop="follows"]::before {
      margin-right: .3em;
    }
  }
  @container user (min-width: 300px) {
    & dl:has([itemprop="followee"]) {
      [itemprop="follows"]::before {
        content: ' · ';
        margin-right: 0;
        -webkit-mask-image: none;
        mask-image: none;
        background-color: transparent;
        text-align: center;
        vertical-align: unset;
      }
    }
  }
  & dl:has(github-repository) {
    margin-top: .5em;
    
    > dd {
      padding: .5em .5em 0;
    }
  }
}